 .bonds{ 
    font-weight: 500;
    font-family: padding: 200px; color:blue ;;
    linearGradient


 }

    body{
        background: linear-gradient(
            30deg,
            rgb(240, 73, 73),
            rgb(16, 97, 129)
        ); 
        text-align: center;

        
        
    
}

